/* Default styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.mynav {
  background-color: rgb(0,0,44);
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
  max-width: 6rem;
  margin-bottom: 4px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-weight: bold;
  background-color: rgb(40,254,175);
  box-shadow:0px 0px 9px 2px #25ff00;
  max-width: 6rem;
  color: #000000;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}

.myform {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 500;
  border: solid 2px;
  border-radius: 10px;
  width: auto;
  border-color: rgb(0 74 122);
}

.myform:focus{
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  border: solid 2px;
  border-radius: 30px;
  border-color: rgb(8, 107, 172);
  box-shadow: 0px 0px 9px 2px #25ff00;
  transition-property: border-radius;
  transition-duration: 0.5s;
  text-decoration: none;
}

.btn-outline-light{
  color: #ffffff;
  border-color: transparent;
  border-radius: 20px;
  margin-left: 7px;
}

.btn-outline-light:hover{
  box-shadow: 0px 0px 9px 2px #25ff00;
}

.container {
  max-width: 100vw;
  border-radius: 1rem;
}

.card,
.scrolling-card {
  margin: 10px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.card .card-img-container,
.scrolling-card .card-img-container {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.card .card-body,
.scrolling-card .card-body {
  padding: 10px;
  color: white;
}

.card .card-title,
.scrolling-card .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-text,
.scrolling-card .card-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.episode-button:hover {
  background-color: rgba(40, 254, 175, 0.8);
}

.scrolling-wrapper {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: rgba(2, 255, 230) transparent; 
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 15px;
}
 
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb:hover{
  background: rgba(255, 255, 255, 0.542);
}

.scrolling-wrapper::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-button {
  background: rgb(40,254,175);
  height: 15px;
  border-radius: 50%;
}

.recommendation-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}

.card-img {
  border-radius: 2rem;
}

.myCard {
  border-radius: 2rem;
}

.img-thumbnail {
  padding: .25rem;
  border: 1px solid #000000;
  border-radius: 2rem;
  max-width: 18rem;
  height: auto;
  animation: backgroundTransition 50s infinite alternate;
  backdrop-filter: blur(1rem);
}

@keyframes backgroundTransition {
  0% {
    background-color: rgb(40,254,175);
  }
  25% {
    background-color: rgb(2, 2, 115);
  }
  50% {
    background-color: rgb(0, 0, 44);
  }
  75% {
    background-color: rgb(0, 204, 219);
  }
  100% {
    background-color: #25ff00;
  }
}

.detail_container{
  margin-top: 0rem;
  padding-top: 2rem;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(1rem);
  height: 100%;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}

.badge{
  background-color:rgb(40,254,175);
}

.plot-scrollable {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.content-container{
  margin-top: 4rem;
}

.frame-container{
  margin-top: 5rem;
}

.myframe{
  border-radius: 10px;
  width: 62rem;
  height: 35rem;
}

.episode-frame {  
  height: 35rem;
  overflow: scroll; 
  padding-right: 1rem;
}

.episode-button {
  background-color: rgb(6,50,77);
  color: white;
  width: 3rem;
  padding: 8px 12px; 
  font-size: 14px; 
  border: solid black;
  border-radius: 10px;
  cursor: pointer;
}

.episode-button:hover{
  color: black;
  background-color: rgb(40,254,175);
  transition: background-color;
  transition-duration: 500ms;
  border: white;
  box-shadow: 0px 0px 9px 2px #25ff00;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Media queries */
@media (max-width: 768px) {
  .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
  }
  .scrolling-card,
  .card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .frame-container {
    flex-direction: column-reverse;
  }

  .myframe {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 1rem; 
  }

  .episode-frame {
    height: auto;
    overflow: visible; 
  }
}